{% extends "layout.twig" %}

{% block title "Contact" %}


{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My contact</h1>
                    <p>



                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

