<!DOCTYPE html>
<html>
<head>
    <title>{% block title "Crud with Silex Application!" %}</title>
    <link rel="stylesheet" href="css/bootstrap.css">


    {% block stylesheets %}

    {% endblock %}
</head>
<body>

{% block content "" %}





</body>
</html>
